h1 {
    color: pink;
    text-align: center;
    background-color: black;
    
    }

.important {
    color: rgb(44, 2, 25);
    font-size: 36px;

}
body {
    background-image: url(../images/salad.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.sidebar {
    float: right;
    width: 30%;
    background-color: yellow;
    height: 100%;
}
.column {
    float: left;
    width: 350px;
    height: 100%;
    border: 8px solid red;
    padding: 20px;
    
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 80px;
  margin-top: 1px;
  
}